<div fxLayout="row" style="width : 100%;">
    <mat-chip-list  *ngIf="words.length > 0 && words[0].text == undefined">
        <mat-chip  class="chip-font" *ngFor="let word of words | slice:0:nbwords">
            {{ word }}
        </mat-chip>
        <div fxLayoutAlign="center">
            <span *ngIf="words.length > 0 && !morewords" (click)="moreWords(true)" id="more_words"
                       matTooltip="Show more topics"  style="color : black; cursor : pointer; font-weight: 800;">
                more...
            </span>
            <span *ngIf="words.length > 0 && morewords" (click)="moreWords(false)" id="less_words"
                       matTooltip="Show less topics" style="color : black; cursor : pointer; font-weight: 800;">
                less...
            </span>
        </div>
    </mat-chip-list>
    <mat-chip-list    *ngIf="words.length > 0 && words[0].text != undefined">
        <mat-chip class="chip-font" *ngFor="let word of words  | slice:0:nbwords">
            {{ word.text }}
        </mat-chip>
        <div fxLayoutAlign="center">
            <span *ngIf="words.length > 0 && !morewords" (click)="moreWords(true)" id="more_words"
                       matTooltip="Show more topics"  style="color : black; cursor : pointer; font-weight: 800;">
                more...
            </span>
            <span *ngIf="words.length > 0 && morewords" (click)="moreWords(false)" id="less_words"
                       matTooltip="Show less topics" style="color : black; cursor : pointer; font-weight: 800;">
                less...
            </span>
        </div>
    </mat-chip-list>
</div>
