<div fxLayout='column' style="width: 350px; height: 220px;">
    <mat-dialog-actions fxLayoutAlign="end" style="margin-bottom:0px; padding : 0px;">
      <button mat-button mat-dialog-close style="height : 30px; width : 30px; background-color : white; border : 0px;">
      <mat-icon class="fill-icon" size="24" style="color : black;">close</mat-icon></button>
    </mat-dialog-actions>
        <mat-form-field flex='60' fxLayoutAlign="center center">
            <input matInput placeholder="Email" style='height: 30px; margin-bottom: -3px;' [(ngModel)]='email'>
        </mat-form-field>
    <div fxLayout='row' fxLayoutAlign='center center'>
        <!-- <mat-dialog-actions >
          <button mat-button mat-dialog-close>Close</button>
        </mat-dialog-actions> -->
        <mat-dialog-actions>
          <button style="background-color: rgb(56, 66, 87); color: white; border: 0px; height: 30px; width: 60px; border-radius: 5%;" [mat-dialog-close]="data.mail_send" (click)='sendMailTo(email)'>Send</button>
        </mat-dialog-actions>
    </div>
</div>
