/** css toolbar top*/

.button-toolbar{
  margin: 0 6px;
  height: 40px;
  min-width: 0;
  line-height: 24px;
  padding: 8px;
  width: 40px;
  border-radius: 50%;
  border:0px;
  cursor : pointer;
}

.button-toolbar-mobile{
  height: 35px !important;
  min-width: 0;
  line-height: 24px;
  padding: 4px;
  width: 35px !important;
  border-radius: 50%;
  border:0px;
  cursor : pointer;
}

.button-center-toolbar{
  margin: 0 6px;
  height: 60px;
  min-width: 0;
  font-size: 1em;
  line-height: 24px;
  padding: 8px;
  width: 140px;
  border-radius: 50%;
  border:0px;
  color : white;
  cursor : pointer;
}

.button-center-toolbar-mobile{
  height: 60px;
  min-width: 0;
  font-size: 0.8em !important;
  line-height: 24px;
  padding: 0px;
  width: 50px;
  border:0px;
  color : white;
  cursor : pointer;
}

.circle-small {
    border-radius: 1.1em;
    -moz-border-radius: 1.1em;
    -webkit-border-radius: 1.1em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.3em;
    margin-right: 8px;
    text-align: center;
    width: 1.3em;
}
