/* app css stylesheet */

html {
    font-size: 15px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-smoothing: antialiased !important;
}

body {
    font-family: 'Inria Serif' !important;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

#toolbar-css-not-use
{
    background: rgba(255, 0, 0, 0.76); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.76), #f5751b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255, 0, 0, 0.76), #f5751b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255, 0, 0, 0.76), #f5751b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255, 0, 0, 0.76) , #f5751b); /* Standard syntax */
}

mat-form-field{
    margin : 4px;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
mat-tabs .mat-tab.mat-active{
    color : red;
}

.mat-button.left {
    border-radius: 10px 0 0 10px;
}

.mat-button.middle {
    border-radius: 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}

.mat-button.right {
    border-radius: 0 10px 10px 0;
}

.mat-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}

.grid-image-cropper {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #999;
    margin: 8px;
}

.list-image-cropper {
    width: 45px;
    height: 45px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #999;
    margin: 4px 8px 4px 8px;
}

.profile-image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #999;
}

.face-profile {
    border-radius: 50%;
    border: 1px solid #999;
    height: 150px;
    width: 150px;
    margin: 4px 8px 4px 8px;
}

.mail {
    font-size: 0.85em !important;
    line-height: 2.5 !important;
    font-weight: 400;
    color: #aaaaaa;
}

.keywords {
    font-size: 0.9em;
    font-weight: 400;
    color: black;
}

.keyword {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 0.9;
    color: black;
    padding: 0px 6px !important;
    margin: 2px !important;
    border: 1px solid rgba(255, 165, 0, 0.47);
}

mat-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

span.circle {
    border-radius: 1.1em;
    -moz-border-radius: 1.1em;
    -webkit-border-radius: 1.1em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.7em;
    margin-right: 8px;
    text-align: center;
    width: 1.9em;
}

span.circle-small {
    border-radius: 1.1em;
    -moz-border-radius: 1.1em;
    -webkit-border-radius: 1.1em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.3em;
    margin-right: 8px;
    text-align: center;
    width: 1.3em;
}

.search-select {
    background-color: #F44336;
    color: white;
    border: solid 1px black;
    border-radius: 12px 0 0 12px;
}

.search-select .mat-select-value {
    background-color: #F44336;
    color: white !important;
    border: none !important;
    border-radius: 12px 0 0 12px !important;
    padding-bottom: 3px !important;
}

.search-select:hover, .search-select .mat-select-value:hover {
    background-color: rgba(255, 49, 43, 0.57);
    color: white;
    border: none;
}

.sample-show-hide {
    transition: linear 0.8s;
    -webkit-transition: linear 0.8s;
    -moz-transition: linear 0.8s;
    -o-transition: linear 0.8s;
    height: 300px;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.sample-show-hide.ng-hide {
    height: 0;
}

.sample-show-hide.*ngIf {
    opacity: 0;
    height: 0;
}

.search-select-container {
    z-index: 100;
}

.search-text {
    background-color: rgba(241, 241, 241, 0.32) !important;
    height: 42px !important;
    padding-bottom: 0px !important;
}

.search-text:focus {
    box-shadow: 0 0 4px rgba(19, 19, 19, 0.47);
    border: none;
}

.mat-chip {
    font-size: 0.75em;
    background-color: #FFF9C4 !important;
    border: solid 1px lightgray;
}

.brand {
    font-size: 1.3em;
    font-weight: 600;
    color: white;
}

.dynamic-card:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 6px rgba(19, 19, 19, 0.47);
}

.text-animated {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 2px rgba(19, 19, 19, 0.47);
}

.dynamic-mat-list-item:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 3px rgba(19, 19, 19, 0.47);
}

.orange-gradient {
    background: rgb(241, 231, 103);
    background: -moz-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(239, 214, 88, 1) 45%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(241, 231, 103, 1)), color-stop(45%, rgba(239, 214, 88, 1)));
    background: -webkit-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(239, 214, 88, 1) 45%);
    background: -o-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(239, 214, 88, 1) 45%);
    background: -ms-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(239, 214, 88, 1) 45%);
    background: linear-gradient(to bottom, rgba(241, 231, 103, 1) 0%, rgba(239, 214, 88, 1) 45%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1e767', endColorstr='#efd658', GradientType=0);
}

@import url('http://getbootstrap.com/dist/css/bootstrap.css');

mat-card {
    font-size: 0.85em;
}

.grid-btn {
    -ms-transform: scale(0.75, 0.75); /* IE 9 */
    -webkit-transform: scale(0.75, 0.75); /* Safari */
    transform: scale(0.75, 0.75);
    background-color: #FF8A65 !important;
    margin: 0px 4px !important;
    box-shadow: none;
}

.list-btn {
    -ms-transform: scale(0.77, 0.75); /* IE 9 */
    -webkit-transform: scale(0.75, 0.75); /* Safari */
    transform: scale(0.75, 0.75);
    margin: 0px !important;
    padding: 0px !important;
    box-shadow: none;
}

.big-btn {
    -ms-transform: scale(1.3, 1.3); /* IE 9 */
    -webkit-transform: scale(1.3, 1.3); /* Safari */
    transform: scale(1.3, 1.3);
    box-shadow: none;
}

.mini-btn {
    -ms-transform: scale(0.65, 0.65); /* IE 9 */
    -webkit-transform: scale(0.65, 0.65); /* Safari */
    transform: scale(0.65, 0.65);
    margin: 0px !important;
    padding: 0px !important;
    box-shadow: none;
}

mat-chips .mat-chips {
    box-shadow: none;
}

.link {
    stroke: rgba(98, 98, 98, 0.45);
    stroke-width: 6px;
}

text {
    font-size: 0.75em;
}

.frame {
    background-color: rgb(192, 180, 97) !important;
}

.axis {
    font: 14px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* Styles for the zoomable bubble chart */

.node {
    cursor: pointer;
    stroke: #e63312;
}

.node:hover {
    stroke: #e6f1ff;
    stroke-width: 4px;
}

.node--root {
    stroke: #f1f8ff;
    stroke-width: 3px;
}

.node--leaf {
    stroke: steelblue;
    stroke-width: 3px;
}

.label-bubble {
    font: 1.2em 'RobotoDraft', 'Roboto', 'Helvetica Neue', sans-serif !important;
    font-weight: 800;
    fill: black;
    text-anchor: middle;
    text-shadow: #fff 0px 2px 2px !important;
}

.label,
.node--root,
.node--leaf {
    pointer-events: none;
}

#navbar .mat-tab span {
    text-transform: none !important;
    color: rgb(53, 64, 82) !important;
    font-weight: 400 !important;
    font-size: 1.15em !important;
    line-height: 2.5em !important;
    height: 100px !important;
}

#navbar mat-pagination-wrapper, #navbar mat-tabs-canvas {
    height: 120px !important;
}

.pin {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
    background: #89849b;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    -ms-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
}

#pagination span {
    color: black;
}

[fxLayout=row] > mat-divider {
    border-top: 0;
    border-left: 1px solid;
    border-left-color: rgba(0, 0, 0, 0.97);
}

/* ERROR 404 */

#error-404 .error-code {
    font-size: 112px;
    text-align: center;
    line-height: 1;
    margin-bottom: 16px;
    font-weight: 500;
}

#error-404 .message {
    font-size: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
}

#error-404 .search {
    width: 100%;
    height: 56px;
    line-height: 56px;
    margin: 48px auto 16px auto;
    padding: 16px;
    background: #FFFFFF;
}

#error-404 .search input {
    padding: 0 0 0 16px;
}

#error-404 .back-link {
    font-size: 15px;
    text-align: center;
}

.wrapper {
    min-height: calc(100% - 30px);
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer {
    height: 30px !important;
}

footer {
    text-align: center;
}

footer p {
    color: #888;
    font-size: 0.9em;
    letter-spacing: .4px;
}

footer a {
    color: rgba(249, 221, 44, 0.64);
    text-decoration: none;
    transition: all .2s ease;
}

footer a:hover {
    color: #666666;
    text-decoration: underline;
}

footer img {
    width: 80px;
    transition: all .2s ease;
}

footer img:hover {
    opacity: .83;
}

footer img:focus, footer a:focus {
    outline: none;
}

@media only screen and (min-width: 1600px) {
    [flex-gt-lgx="25"] {
        -webkit-flex: 0 0 25% !important;
        -ms-flex: 0 0 25% !important;
        flex: 0 0 25% !important;
    }
}

.mat-button.default {
    width: 280px;
    text-transform: none;
    color: #FFFFFF;
    font-size: 1em;
    background-color: rgba(30, 173, 84, 0.4);
}

.mat-button.default:hover span {
    color: rgba(30, 173, 84, 0.74)
}

.mat-button.facebook {
    width: 240px;
    text-transform: none;
    color: #FFFFFF;
    font-size: 1em;
    background-color: rgb(63, 92, 154);
}

.mat-button.facebook:hover span {
    color: rgb(63, 92, 154);
}

.mat-button.facebook mat-icon {
    fill: #FFFFFF;
    margin: 0 8px 0 0;
}

.mat-button.facebook:hover mat-icon {
    fill: rgb(63, 92, 154);
    margin: 0 8px 0 0;
}

.mat-button.google {
    width: 240px;
    text-transform: none;
    color: #FFFFFF;
    font-size: 1em;
    background-color: #D73D32;
}

.mat-button.google:hover span {
    color: #D73D32;
}

.mat-button.google mat-icon {
    fill: #FFFFFF;
    margin: 0 8px 0 0;
}

.mat-button.google:hover mat-icon {
    fill: #D73D32;
    margin: 0 8px 0 0;
}

#login .separator {
    font-size: 1em;
    font-weight: 600;
    margin: 16px auto;
    position: relative;
    overflow: hidden;
    width: 100px;
    color: rgba(0, 0, 0, 0.54);
    text-align: center;
}

mat-autocomplete mat-autocomplete-wrap {
    height: 42px !important;
}

mat-autocomplete mat-autocomplete-wrap input {
    font-size: 1.15em !important;
    height: 42px !important;
}

mat-autocomplete-parent-scope:hover{
    color: rgb(63, 92, 154);
}

.ng-scope .selected{
    color: rgb(63, 92, 154);
}

.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}

.help_p {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.2em;
}

blockquote {
    background: white;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
    color: gray;
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

form {
    width: 380px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.list-item-pub:hover{
    background-color : lightgrey;
}

.list-item-pub{
    background-color : white;
}
