#pagination .mat-tab-label{
    padding: 0px !important;
    min-width: 50px !important;
    width: 50px;
}

#pagination mat-ink-bar{
    width: 50px !important;
}

.bimage{
    background: url('app/resources/images/index-background_modifie.jpg') no-repeat;
    background-size: cover;
    height: 180px;
}

.inriarouge{
    color: rgb(230, 51, 18);
}


.binriarouge{
    background-color: rgb(230, 51, 18);
}

.inriablanc{
    color: rgb(255, 255, 255);
}

.inriagrisbleu{
    color: rgb(56, 66, 87);
}

.inriajaune{
    color: rgb(255, 205, 28);
}

.binriajaune{
    background-color: rgb(255, 205, 28) !important;
}

.inriaorange{
    color: rgb(240, 126, 38);
}

.binriaorange{
    background-color: rgb(240, 126, 38) !important;
}

.inriableu{
    color: rgb(20, 136, 202);
}

.binriableu{
    background-color: rgb(20, 136, 202) !important;
}

.inriableuclair{
    color: rgb(137, 204, 202);
}

.binriableuclair{
    background-color: rgb(137, 204, 202) !important;
}

.inriableugris{
    color: rgb(56, 66, 87);
}

.binriableugris{
    background-color: rgb(56, 66, 87) !important;
}

.inriagris{
    color: rgb(231, 231, 231);
}

.binriagris{
    background-color: rgb(231, 231, 231) !important;
}
.inriavertclair{
    color: rgb(199, 214, 79);
}

.binriainriavertclair{
    background-color: rgb(199, 214, 79) !important;
}


mat-spinner svg{
    height: 50px !important;
    width: : 50px !important;
}

circle-small {
    border-radius: 1.1em;
    -moz-border-radius: 1.1em;
    -webkit-border-radius: 1.1em;
    background-color: #efc73b;
    display: inline-block;
    font-weight: bold;
    line-height: 1.3em;
    margin-right: 8px;
    border-radius: 50%;
    text-align: center;
    width: 1.3em;
}

.link{
    stroke : rgba(98, 98, 98, 0.45);
    stroke-width : 6px;
}

.node{
    stroke : #e63312;
}

.mat-list .mat-list-item .mat-list-item-content{
  height: auto !important;
  min-height: 48px;
}

#graph{
   width: 100%;
   height: 100%;
}

#publication-display:hover{
        color : rgba(68, 67, 71, 0.57);
        opacity: 0.6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
}

social-graph-lab{
  height: 80%;
}

affiliations-similar{
  height: 100% !important;
}

users-relations{
  height: 100% !important;
}

social-graph{
  height: 80%;
}
