@media screen and (min-width: 450px) {

    html {
        font-size: 17px;
        font-weight: 100;
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
        font-smoothing: antialiased !important;
    }

    body {
        font-family: 'Inria Sans' !important;
    }

    #list-name {
        font-size: 1.3em;
    }

    #mat-select-option{
        width: 150px;
        height: 42px !important;
        text-align: center;
        border: none;
    }

    #footer-name{
        font-weight: 600;
        color: gray;
    }

    #footer-name-c{
        font-size: 1.1em;
    }

    #logo-toolbar{
        width: auto;
        height: 45px;
    }

    .pub-authors {
        font-size: 1em;
        font-weight: 500;
        color: gray;
    }

    .pub-name {
        font-size: 0.9em;
        line-height: 1.5;
        font-weight: 600;
    }

    .basket-name {
        font-size: 1.1em;
        line-height: 1.5;
        font-weight: 600;
    }

    .pub-year {
        font-size: 0.7em;
    }

    .name-title {
        font-size: 1.5em;
        line-height: 1.5;
        font-weight: 300;
    }

    .footer-dir{
        height: 45px;
    }

    #toolbar-css{
        height: 64px;
    }

    .button-footer{
        min-height: 35px !important;
        min-width: 50px !important;
    }

    .modal-title {
        font-size: 1.7em;
        line-height: 1.2;
        font-weight: 400;
        color: white;
    }

    word-cloud-dir{
        width: 600px;
        height: 300px;
    }

    .name-profile {
        font-size: 2.2em;
        line-height: 1.3;
        font-weight: 600;
        color: #e63312;
        text-align: center;
        margin-bottom: 0px !important;
    }

    .full-name-aff{
        font-size: 1.5em;
        font-weight: 500;
        color : #384257;
    }

    .name-aff {
        font-size: 2em;
        line-height: 1.5;
        font-weight: 600;
        color: #e63312;
        text-align: center;
        /* margin-bottom: 0px !important; */
    }

    .history-bastri{
        font-size: 1.5em;
        font-weight: 500;
        color : #000000;
    }

    .dom-aff {
        font-size: 2em;
        line-height: 1.3;
        font-weight: 600;
        color: black;
        text-align: center;
        margin-bottom: 0px !important;
    }

    .address-aff {
        font-size: 1.4em;
        line-height: 1.5;
        font-weight: 600;
        color: rgb(56, 66, 87);
        /* text-align: center; */
        margin-bottom: 0px !important;
    }

    .history-prof {
        font-size: 1.2em;
        line-height: 1.3;
        font-weight: 400;
        color: rgb(56, 66, 87);
        text-align: center;
        margin-bottom: 0px !important;
    }

    .city-aff {
        font-size: 1.4em;
        line-height: 1.5;
        font-weight: 400;
        color: #f07e26;
        text-align: center;
        margin-bottom: 0px !important;
    }

    .profile-words{
        font-size: 1.3em;
        margin-bottom: 2px;
        margin-top: 6px;
    }

    .profile-words-domain{
        font-size: 1.2em;
        margin-bottom: 2px;
        color : #f55018;
        margin-top: 6px;
    }

    #nb-save-circle{
        position: absolute;
        top: 44px;
        left: 94%;
        font-size: 0.9em;
        background-color: #e63312;
    }

    .buttonfooter{
        margin: 0 6px;
        height: 60px;
        min-width: 0;
        font-size: 1em;
        line-height: 24px;
        padding: 8px;
        width: 140px;
        border-radius: 50%;
        border:0px;
        color : white;
        cursor : pointer;
    }

}
@media screen and (max-width: 960px){
    #logo-toolbar{
        width: auto;
        height: 30px;
    }
}

@media screen and (max-width: 450px){

    html {
        font-size: 12px;
        font-weight: 100;
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
        font-smoothing: antialiased !important;
    }

    body {
        font-family: 'Inria Sans' !important;
    }

    #list-name {
        font-size: 1em;
    }

    #mat-select-option{
        width: 100px;
        height: 20px !important;
        text-align: center;
        border: none;
    }

    #footer-name{
        font-weight: 500;
        font-size: 0.8em;
        color: gray;
    }

    #footer-name-c{
        font-size: 0.7em;
    }

    #logo-toolbar{
        width: auto;
        height: 30px;
    }

    .mat-button.mat-fab.mat-mini {
        line-height: 35px !important;
        width: 35px !important;
        height: 35px !important;
    }

    .button-footer{
        min-height: 25px !important;
        min-width: 25px !important;
    }

    .pub-authors {
        font-size: 0.5em;
        color: gray;
    }

    .pub-name {
        font-size: 0.5em;
        line-height: 1.5;
        font-weight: 500;
    }

    .basket-name {
        font-size: 1.1em;
        line-height: 1.5;
        font-weight: 600;
    }

    .pub-year {
        font-size: 0.4em;
    }

    .name-title {
        font-size: 0.7em;
        line-height: 1.5;
        font-weight: 300;
    }

    .footer-dir{
        height: 40px;
    }

    mat-toolbar {
        min-height: 40px;
    }

    #toolbar-css{
        height: 50px;
    }

    .modal-title {
        font-size: 1em;
        line-height: 1.5;
        font-weight: 400;
        color: white;
    }

    word-cloud-dir{
        width: 300px;
        height: 300px;
    }

    .name-profile {
        font-size: 1em;
        line-height: 1.5;
        font-weight: 600;
        color: #e63312;
        text-align: center;
        margin-bottom: 0px !important;
    }

    .history-bastri{
        font-size: 1.3em;
        font-weight: 500;
        color : #000000;
    }

    .full-name-aff{
        font-size: 1.2em;
        font-weight: 500;
        color : #384257;
    }

    .name-aff {
        font-size: 1em;
        line-height: 1.5;
        font-weight: 600;
        color: #e63312;
        text-align: center;
        /* margin-bottom: 0px !important; */
    }

    .dom-aff {
        font-size: 0.8em;
        line-height: 1.5;
        font-weight: 600;
        color: black;
        text-align: center;
        margin-bottom: 0px !important;
    }

    .address-aff {
        font-size: 0.7em;
        line-height: 1.5;
        font-weight: 600;
        color: #384257;
        /* text-align: center; */
        margin-bottom: 0px !important;
    }

    .history-prof {
        font-size: 0.6em;
        line-height: 1.4;
        font-weight: 400;
        color: #384257;
        text-align: center;
        margin-bottom: 0px !important;
    }

    .city-aff {
        font-size: 0.7em;
        line-height: 1.5;
        font-weight: 400;
        color: #f07e26;
        text-align: center;
        margin-bottom: 0px !important;
    }

    .mat-chips{
        font-size: 0.8em;
    }

    mat-chips mat-chip{
        line-height: 20px !important;
        height: 20px !important;
    }

    .profile-words-domain{
        font-size: 0.9em;
        color : #f55018;
        margin-top: 6px;
        margin-bottom: 2px;
    }

    .profile-words{
        font-size: 0.9em;
        margin-top: 6px;
        margin-bottom: 2px;
    }

    #nb-save-circle{
        position: absolute;
        top: 50px;
        right: 5px;
        font-size: 0.9em;
        background-color: #e63312;
    }

    .buttonfooter{
        margin: 0 6px;
        height: 60px;
        min-width: 0;
        font-size: 1em;
        line-height: 24px;
        padding: 8px;
        width: 70px;
        border-radius: 50%;
        border:0px;
        color : white;
        cursor : pointer;
    }

}

.leaflet-top.leaflet-left{
    display: none;
}
