<div fxLayout="row" class="pagination" fxLayoutAlign="center center" style="background-color: white; height: 70px;">
    <mat-tab-group  id="pagination" fxFlex="80" fxFlex.xs="85" (click)="selectPage($event)">
        <mat-tab class="mat-tab-css" id="tab-pagination" *ngFor="let n of tabs"
                [label]="n"></mat-tab>
    </mat-tab-group>
</div>
