
    <div fxLayout="row" fxLayoutAlign="center center">
        <h1 class="name-title">Social Graph of <span
                class="inriarouge">{{ acronym}}</span></h1>
        <!-- <h1 class="full-name-aff">{{ name }}</h1> -->
        <!-- <h1 class="dom-aff" *ngIf="isAtLeastOneResult()">Similar Teams</h1> -->
        <h1 *ngIf="!isAtLeastOneResult() && researchStart"> No similar Teams find</h1>
    </div>
    <!-- <res-info [resultStat]="resultStat" [currentPage]="currentPage" (onChangeSizePage)="selectPageSize($event)"
    [pageSize]="pageSize" *ngIf="!mobileCheck() && done"></res-info> -->
    <!-- <pagination fxLayoutAlign="center"
    [currentPage]="currentPage" [numPages]="numPages" (onSelect)="selectPage($event)" *ngIf="isAtLeastOneResult()"></pagination> -->
    <div fxLayout="row" fxLayoutAlign="center" *ngIf="researchProcess">
        <mat-progress-spinner class="spinner-size"></mat-progress-spinner>
    </div>
    <social-graph-lab fxLayoutAlign="center center" *ngIf="isAtLeastOneResult() && !mobileCheck()"
    [origin]="origin"
    [searchResp]="searchResp"></social-graph-lab>
    <list-results-aff fxLayoutAlign="center" [search]="searchText" [affiliations]="listSearchResp"
    [affSimilar]="affiliationSimilar" *ngIf="isAtLeastOneResult() && mobileCheck()"></list-results-aff>
