<!-- Use to make comment on the page -->
<button mat-button fxHide fxShow.gt-xs (click)=showComment($event) style="position: fixed; bottom: 5px; right: 5px" aria-label="comment-btn">
    <mat-icon size="40">feedback</mat-icon>
</button>
<div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center" *ngIf="!isAvailableResults() || !alldone">
    <mat-spinner class="spinner-size"></mat-spinner>
</div>
<div fxLayout="column" fxLayoutAlign="center" *ngIf="isAvailableResults()">
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isAvailableResults()" class="p-5">
        <a class="name-aff" href="{{ url }}" target="_blank" style="text-decoration: none;">{{ acronym}}</a>
        <h3 class="full-name-aff p-5">({{ name }})</h3>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" *ngIf="isAvailableResults()">
    <div fxLayout="row" fxLayoutAlign="center" *ngIf="history_bastri_string.length != 0 && alldone" class="p-5 history-bastri">
        <span class="mr-5">History : </span>
        <span class="mr-10" style="cursor: pointer;"
          *ngFor="let hist of history_bastri_string" (click)="goToAffiliation(hist.id_struct)">
            <span *ngIf="hist.name.includes('->')">{{ hist.name.replace("->", "") }}  &rarr;</span>
            <span *ngIf="!hist.name.includes('->')">{{ hist.name }}</span>
        </span>
    </div>
    <!-- <h3 class="address-aff p-5">{{ responsable }}</h3> -->
    </div>
    <!-- <h1 class="city-aff" fxHide fxShow.gt-xs>Start date : {{ date_start }} End Date : {{ date_end }}</h1> -->
</div>
<h1 class="name-aff" *ngIf="affNotFind"> Affiliation  not found</h1>
<mat-tab-group (click)="selectTab($event)">
    <mat-tab id="tab1" label="Overview">
        <affiliation-general *ngIf="alldone && tabSelect == ''" [id]="id" [resp]="searchResp"></affiliation-general>
    </mat-tab>
    <mat-tab id="tab2" label="Members">
        <affiliation-users [id]="id" [resp]="searchResp"></affiliation-users>
    </mat-tab>
</mat-tab-group>
