    <mat-list fxFlex="100">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h1 class="name-title" style="text-align: center;">
                <span style="color: black;">Basket</span>
            </h1>
            <p style="font-size: 1.2em; font-weight: 400;">
                The basket contains active links to the selected items. You can send its content to the mail address of your choice.
            </p>
        </div>
        <div >
                <div fxLayout="row" fxFlexFill>
                    <div *ngIf="teams" fxLayout="column" fxFlex="flexTeams">
                        <div fxLayout="row" fxLayoutAlign="center">
                            <h3>TEAMS</h3>
                        </div>
                    <div *ngFor="let t of teamsData">
                        <mat-list-item style="background-color: white;" fxLayout="row" class="m-10">
                        <span class="basket-name">
                        <a *ngIf="t.link.includes('/')" href="{{ t.link }}" style="text-decoration: none; color: inherit;" target="_blank">
                            {{ t.name }}
                        </a>
                        <span *ngIf="!t.link.includes('/')"> {{ t.name }} </span>
                    </span>
                    <div fxLayoutAlign="end center">
                        <button mat-button [matTooltip]="Remove" class="mat-icon-button" (click)="remove(t)">
                            <mat-icon style="color: rgba(255, 0, 0, 0.7);" size="26">delete</mat-icon>
                        </button>
                    </div>
                        </mat-list-item>
                    </div>
                    </div>
                    <div *ngIf="individuals" fxLayout="column" fxFlex="flexIndividuals">
                        <div fxLayout="row" fxLayoutAlign="center">
                            <h3>INDIVIDUALS</h3>
                        </div>
                    <div *ngFor="let ind of individualsData">
                        <mat-list-item  style="background-color: white;" id="basket-list" class="m-10">
                        <span class="basket-name">
                        <a *ngIf="ind.link.includes('/')" href="{{ ind.link }}" style="text-decoration: none; color: inherit;" target="_blank">
                            {{ ind.name }}
                        </a>
                        <span *ngIf="!ind.link.includes('/')"> {{ ind.name }} </span>
                    </span>
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-button [matTooltip]="Remove" class="mat-icon-button" (click)="remove(ind)">
                            <mat-icon style="color: rgba(255, 0, 0, 0.7) !important;" size="26">delete</mat-icon>
                        </button>
                    </div>
                        </mat-list-item>
                    </div>
                    </div>
                    <div  *ngIf="publications" fxLayout="column" fxFlex="flexPublications">
                        <div fxLayout="row" fxLayoutAlign="center">
                            <h3>PUBLICATIONS</h3>
                        </div>
                        <div *ngFor="let p of publicationsData">
                            <mat-list-item style="background-color: white;" class="m-10">

                            <span class="basket-name">
                            <a *ngIf="p.link.includes('/')" href="{{ p.link }}" style="text-decoration: none; color: inherit;" target="_blank">
                                {{ p.name }}
                            </a>
                            <span *ngIf="!p.link.includes('/')"> {{ p.name }} </span>
                        </span>
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <button mat-button [matTooltip]="Remove" class="mat-icon-button" (click)="remove(p)">
                                <mat-icon style="color: rgba(255, 0, 0, 0.7) !important;" size="26">delete</mat-icon>
                            </button>
                        </div>
                            </mat-list-item>
                        </div>
                    </div>
                </div>

        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-button style="background-color: rgb(56, 66, 87); color: white; border: 0px; height: 30px; width: 60px; border-radius: 5%;"
                       (click)="showSendMail()" mat-autofocus class="mt-20">
                Send
            </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class='m-10'>
            <span *ngIf='dialog_open_ok' style='color : green;'> Mail send successfully</span>
            <span *ngIf='dialog_open_ko' style='color : red;'> Mail not send </span>
        </div>

    </mat-list>
