<div fxLayout="row" fxLayoutAlign="center">
    <h3>INDIVIDUALS</h3>
</div>
<div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center" *ngIf="researchProcess">
    <mat-spinner class="spinner-size"></mat-spinner>
</div>
<h3 fxLayout="row" fxLayoutAlign="center center"
    *ngIf="!isAtLeastOneResult() && researchStart" class="inriarouge"> No Result Found</h3>
    <pagination [currentPage]="currentPage" [numPages]="numPages"
                    (onSelect)="selectPage($event)" *ngIf="isAvailableResults()"></pagination>
<list-individuals [users]="searchResp" [isSearchUser]="isSearchUser" [isBigram]="isBigram"
                  [explanationBtn]="explanationBtn" [textSearch]="encodedSearchText"
                *ngIf="isAtLeastOneResult()"></list-individuals>
<!-- <pagination [currentPage]="currentPage" [numPages]="numPages"
                (onSelect)="selectPage($event)" *ngIf="isAvailableResults()"></pagination> -->
