<mat-list>
    <mat-list-item style="min-height : 90px !important; height : auto;" class="list-items m-5" *ngFor="let pub of publications">
        <div fxLayout="column" class="m-5" fxFlex (click)="showAbstract(pub)" id="publication-display" style="cursor:pointer;">
            <span class="pub-name" *ngIf="pub.title_en != ''">{{ pub.title_en }}</span>
            <span class="pub-name" *ngIf="pub.title_fr != '' && pub.title_en == ''">{{ pub.title_fr }}</span>
            <span class="pub-authors"  fxHide fxShow.gt-xs>
                <span *ngFor="let author of pub.authors; let i=index">
                    <span *ngIf="i < 3">[ {{ author.surname }} {{ author.forename }} ]</span>
                </span>
                <span *ngIf="pub.authors.length > 3">...</span>
            </span>
            <span class="pub-name" *ngIf="pub.year != ''">{{ pub.year }}</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-button class="list-btn" id="go-to-similar-pub" matTooltip="Similar publications"
            (click)="goToSimilarPub(pub)" target="_blank">
                <mat-icon class="fill-icon">my_library_books</mat-icon>
            </button>
            <button mat-button class="list-btn" [disabled]="pub.hallink == ''" id="link-hal"
            (click)="searchInHal(pub.hallink)" target="_blank" matTooltip="External link">
                <mat-icon class="fill-icon">link</mat-icon>
            </button>
            <button mat-button class="list-btn-shop" matTooltip="Save result" id="save-pub" (click)="savePublicationAff(pub)">
                <mat-icon class="fill-icon">shopping_cart</mat-icon>
            </button>
        </div>
    </mat-list-item>
<mat-list>
