.list-btn-more{
    background: rgb(56, 66, 87) !important;
    cursor: pointer !important;
    color: white !important;
    margin: 2px;
    padding: 0px !important;
    width: 60px;
    height: 30px;
    min-width: 30px !important;
    line-height: 24px;
    border-radius: 50%;
}

.chip-font{
    font-size : 1em;
    font-weight: 500;
    color: rgb(4, 1, 1);
    margin: 4px !important;
}
