<div fxLayout="row" fxFlex="100">
    <div fxHide fxShow.gt-xs class="m-10" fxFlex="35" *ngIf="resultStat">
        <b id="total-hit">{{ resultStat.total }}</b> results in <b>{{ resultStat.took }}</b> ms
    </div>
    <div  fxFlex="20" fxHide fxShow.gt-xs>
        <mat-select placeholder="Display" [ngModel]="pageSelectSize" fxLayoutAlign="center"
                   (ngModelChange)="selectPageSize($event)">
            <mat-option id="option-page-select" [value]="i" *ngFor="let i of pageSizes">{{ i.label }}</mat-option>
        </mat-select>
    </div>
    <!-- <div class="m-10" fxLayoutAlign="end" fxHide fxShow.gt-xs>
        Page <span class="circle-small">{{ currentPage }}</span>
    </div> -->
</div>
