<div fxLayout="row" fxFlexFill>
    <div class="mat-whiteframe-z1" style="background-color: white;">
        <h1 class="ml-50 pr-50">Legal</h1>
        <p  class="ml-50 pr-50" style="font-size: 1.2em; font-weight: 400;">
        <span style="font-size: 1.3em; font-weight: 500;">Legal information </span><br><br>
        Inria<br>
        Domaine de Voluceau<br>
        Rocquencourt - B.P. 105<br>
        78153 Le Chesnay Cedex - France<br>
        Telephone: +33 1 39 63 55 11<br>
        Editorial director : Bruno Sportisse, Président-directeur général d'Inria<br>
        Editor in chief : Albert Benveniste<br>
        Webhosting : Direction des systèmes d'information d'Inria<br><br>

</div>
