<div fxLayout="row" fxFlexFill>
    <div class="mat-whiteframe-z1" style="background-color: white;">
        <h1 class="ml-50 pr-50">Personal data protection (GDPR)</h1>

<p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
            Inria is committed to protecting the personal data it processes for the purposes of its activities. In this respect, Inria undertakes to comply with the EU General Data Protection Regulation 2016/679 of 27 April 2016 ("GDPR") and the amended French Data Protection Law (Loi Informatique et Libertés). This page describes the personal data processing relating to the use of the inria.fr website.
</p>
<h2 class="ml-50 pr-50">Controller and the controller’s representative</h2>
<p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">The Controller is Inria. The Controller representative is the CEO of Inria</p>

<h2 class="ml-50 pr-50">    Data Protection Officer</h2>
<p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
The Data Protection Officer can be contacted by mail with dpo@inria.fr or by postal at the address below<br>
Inria<br>
A l'attention de la Déléguée à la Protection des Données (DPO)<br>
2004 Route des Lucioles<br>
06902 VALBONNE
</p>

        <h2 class="ml-50 pr-50">    Purpose of the processing</h2>
<p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
    Lookinlabs is a search engine to find who is doing what at Inria. In response to your query the tool returns the best match in terms of teams/individuals/publications.
</p>
            <h2 class="ml-50 pr-50">Legal basis of the processing</h2>
<p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
            The processing is necessary for the performance of a task carried out in the public interest
            </p>

            <h2 class="ml-50 pr-50"> Data records</h2>
<p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
            The personal data used by Lookinlabs are:</p>
            <ul class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
                <li>Surname</li>
                <li>First name.</li>
            </ul>

                <h2 class="ml-50 pr-50"> Data holding times</h2>
    <p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
                Personal data will be stored for the same amount of time as for the Inria activity report and the HAL website.
                    </p>
                    <h2 class="ml-50 pr-50"> Transferring data</h2>
        <p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
                    No personal information is given to a third party. The only recipient of personal data is the Lookinlabs tool.
                    No transfer of personal data to a third country or international organisation will be made.
                        </p>

            <h2 class="ml-50 pr-50">    Personal rights</h2>
<p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
                Pursuant to the statutory and regulatory provisions applicable, in particular French Data Protection Law (Law no. 78-17 of 6 January) and Regulation (EU) no. 2016/679 of 27 April 2016 (applicable since 25 May 2018), you have the following rights:</p>
                <ul class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
                    <li>To exercise your right of access, to find out what personal data concerning you is held;</li>
                    <li>To ask for your data to be updated, if they are incorrect;</li>
                    <li>To request the portability or erasure of your data;</li>
                    <li>To ask for the processing of your data to be limited;</li>
                    <li>To oppose the processing of your data, on legitimate grounds.</li>
                </ul>

            <!-- <h2 class="ml-50 pr-50">    Exercising your rights </h2>
<p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
                For any further information or to exercise your rights under data protection law regarding the processing of personal data managed by Inria, you can contact its Data Protection Officer (DPO):</p>
                <ul class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
                    <li>by e-mail on dpo@inria.fr</li>
                    <li>or by post (with proof of identity if you are asking to exercise your rights) at the address below<br>

                Inria<br>
                A l'attention de la Déléguée à la Protection des Données (DPO)<br>
                2004 Route des Lucioles<br>
                06902 VALBONNE<br></li>
                </ul> -->

                <h2 class="ml-50 pr-50"> Right to lodge a complaint</h2>
<p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
                If you consider, after contacting us, that your data protection rights have not been respected, you have the possibility of lodging a complaint with the CNIL online or by post.
</p>

            <!-- In accordance with Article 13 of the Regulation on the protection of individuals with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation or GDPR), please find below some information concerning this data collection:<br><br>

            1) The controller's representative is the CEO of Inria.<br><br>

            2) The Data Protection Officer (DPO) appointed by Inria can be contacted via dpo@inria.fr@inria.fr or via her postal address: The Data Protection Officer, Inria, 2004 route des lucioles, BP 93, 06902 Sophia-Antipolis cedex.<br><br>


            8)

            9) If, after contacting us, you consider that your IT rights and freedoms are not respected or that the processing does not comply with data protection rules, you can file a complaint with the CNIL.<br><br>

            10) This processing operation does not generate any profiling or automated decision-making concerning you on the basis of your data and the processing thereof.<br><br>

            Lookinlabs use data from HAL-archives, Raweb and BASTRI. We get publications from HAL-archives. BASTRI is used to get the filiation between teams. The Raweb is used to get team's members. We collect no personal data. -->

     <h2 class="ml-50 pr-50">Statistics </h2>
     <p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
         We use Local Storage to save the selected items from your basket.<br>
         We use Piwik to log your interaction with the tool. These data help us to improve our ranking algorithm. These data are anonymized.<br>
         The LookinLabs tool generates a scientific profil for researcher, showing keywords characterizing their fields of interest, as synthesized by the tool.<br>
         Lookinlabs use data from HAL-archives, the web activity report of Inria and the internal data base of Inria teams (BASTRI). We get publications from HAL-archives. BASTRI is used to get the parent-child relation between teams. The web activity report is used to get team's members.
<br>
         <!-- The LookinLabs tool generates a page for some people, showing keywords characterizing their fields of interest, as synthesized by the tool. -->
          <!-- You can request the deletion of this information. You also have a right of opposition, a right of rectification of this (see https://www.cnil.fr for more information on your rights). To exercise these rights or for any question about the processing of your data in this system, you can contact the DPO:<br>
         - Contact our DPO electronically: dpo@inria.fr<br>
         - Contact our DPO by post:  The Data Protection Officer Inria, 2004 route des Lucioles, BP 93, 06902 Sophia-Antipolis Cedex<br><br> -->
     </p>
         <!-- We only collect your clicks and your queries to improve responses given by the application and collect no personal data from you. These click-data are collected with Piwik (https://matomo.org/) and stored anonymously. -->
</div>
