<div fxLayout="row" fxFlexFill>
    <div class="mat-whiteframe-z1" style="background-color: white; line-height:1.2em;">
        <h1 class=" mr-50 ml-50">Lookinlabs for Hal-Inria : primer</h1>
        <p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
        This work was launched by the Labex CominLabs (https://cominlabs.u-bretagneloire.fr/). It was and is now supported by CominLabs, and also in part by Inria (https://www.inria.fr/). A first version of this service was deployed in 2016 and made accessible from the CominLabs web site.
     </p>
                    <p class=" mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
            <span style="font-size: 1.3em; font-weight: 500;">What is LookinLabs ?</span><br><br>
            LookinLabs for HAL-archives is more than a search tool. It allows you to find, among teams/individuals/publications, those best matching your query.
            The tool exploits, as data, <b>HAL-archives</b>.<br><br>
            Active <b>teams/individuals</b> are shown in boldface. <span style="color: grey;">Teams/individuals</span> shown in gray are no longer active at Inria.
            The mention: <span style="color: grey;">TEAM0</span> &rarr; <b>(TEAM1,TEAM2)</b> indicates follow-up active teams, if any.<br><br>
            No ontology is used. No data need to be manually entered (besides the users’ queries).<br><br>
            The tool uses <b>Elasticsearch</b> as its core algorithm. This means that the matching is based on a distance between
            the query and the set of data attached, in HAL, to each team/individual/publication. Ranking is performed accordingly.<br><br>
            Explanations are given for each returned item. Correlation graphs are given, allowing to navigate through teams
            or individuals that share common interests (they may or may not be co-authors).  <a style="color:rgb(230, 51, 18); font-weight: 600;" routerLink="/search">  less...</a><br><br>
        <span style="font-size: 1.3em; font-weight: 500;">How to use LookinLabs ?</span><br><br>
            As a simplest use, just enter your query.<br><br>
            For example, if you enter network security, the tool will look for best matching with respect to `network’, `security’,
            and the digram `network-security’, with a bias in favor of the latter.<br><br>
            If you really mean the digram only, you can specify this by adding quotes: "network security".
            Then, the tool will look for the digram only and stop in case
            of the matching succeeds. In case of failure, quotes are removed and the tool operates in its basic mode.<br><br>
            The tool claims to perform semantic matching. If, however, by network security, you have in
            mind the whole domain with its bench of associated keywords, this implicit context is not known
            by LookinLabs since LookinLabs makes no use of any kind of ontology in its current release. You can still benefit from sort
            of an adaptive ontology by using the tool stepwise as follows:<br>
            <br>1. Enter your query;
            <br>2. Read the abstracts of the very first publications returned by the tool and select the one(s) you find best for describing your topic;
            <br>3. Copy this abstract and enter it as your refined query.<br>
            <br>This yields a rich query that will act as an ontology by enhancing your topic with all the words of the abstract.  <a style="color:rgb(230, 51, 18); font-weight: 600;" routerLink="/search">  less...</a>
            <br><br>
        </p>
        <p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
                <span style="font-size: 1.3em; font-weight: 500;">Display</span><br><br>
                The tool uses cross-platform display, meaning that the display depends on the screen width of your browser. If the screen width is large enough results are displayed for teams, individuals and publications. Otherwise, only one of them is diplayed depending on your choice.    <a style="color:rgb(230, 51, 18); font-weight: 600;" routerLink="/search">  less...</a>
                <br><br>
            </p>
    <p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
            <span style="font-size: 1.3em; font-weight: 500;">Bibliographical comments</span><br><br>
            The tool is described in the Inria report <a href="https://hal.inria.fr/hal-01739845">RR 9158</a>. When profiling the teams and individuals, the Synthesized Research Topics are obtained via text mining. The first algorithm is custom; it is described in RR 9158. The second one is the so-called <a href="https://link.springer.com/chapter/10.1007/978-3-540-39985-8_37">Lingo</a> method.
        </p>
    </div>
</div>
