<res-info [resultStat]="resultStat" [currentPage]="currentPage" (onChangeSizePage)="selectPageSize($event)"
          [pageSize]="pageSize" *ngIf="!mobileCheck() && done">
</res-info>
<pagination [currentPage]="currentPage" [numPages]="numPages" (onSelect)="selectPage($event)"
                *ngIf="isAtLeastOneResult()"></pagination>

<list-individuals [users]="searchResp" [isSearchUser]="isSearchUser" [explanationBtn]="explanationBtn"
            *ngIf="done && isAtLeastOneResult()"></list-individuals>
